/* место для вашего кода */
body {
  font-family: Raleway;
  font-size: 18px;
  color: #000000;
}

.container {
  width: 1100px;
  margin: 0px auto;
}

header {
  padding: 92px 24px 96px 24px;
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 129px 1fr;
  align-items: center;
}

.header__menu {
  padding: 0px 0px 0px 26px;
}

.header__menu ul {
  display: flex;
  gap: 32px;
}

.header__menu ul li {
  list-style: circle;
}

.header__menu ul li:first-child {
  list-style: none;
}

.header__contact {
  display: grid;
  padding-right: 26px;
}

.header__contact .inside {
  width: fit-content;
  justify-self: end;
  line-height: 24px;
}

.cover {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.cover .cover__title {
  color: #ffffff;
  padding: 160px 50px 118px 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 125px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.cover .cover__img {
  height: 755px;
  object-fit: cover;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: grid;
  align-items: center;
  grid-template-columns: auto 256px;
  padding: 0px 50px 51px 50px;
}

.bet-button {
  background: none;
  border: 1px solid #ffffff;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 0px;
  font-family: 'Raleway';
  font-weight: 500;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 32px;
}

#lots {
  padding: 152px 24px 146px 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 27px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  padding-bottom: 30px;
}

.lots__card-list-item {
  list-style: none;
}

.lots__card-list .lots__card-list-item .card {
  display: grid;
  grid-template-rows: auto auto;
  padding: 48px 40px;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}

.lots__card-list .lots__card-list-item .card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  background-size: cover;
  background-position: center;
}

.lots__card-list .lots__card-list-item .card-link.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-list .lots__card-list-item .card-link.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-list .lots__card-list-item .card-link.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
  color:#ffffff;
  align-self: end;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
}

#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 38px 24px 0px 24px;
  column-gap: 12px;
}

.about__logo {
  background-color: #000000;
  border-radius: 240px;
  padding: 63px 46px;
  width: 240px;
  height: 240px;
  margin: 0px auto;
}

.about__title {
  font-family: 'Raleway';
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 100px 0px 100px 0px;
}

.about__text p {
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 26px;
  font-size: 20px;
}

.footer {
  padding: 152px 50px 91px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.address {
  line-height: 24px;
}

.footer__menu-list-item {
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: grid;
}

.footer__social-list ul {
  display: flex;
  gap: 47px;
  justify-self: end;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}